* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.contain{
   
   max-width:900px;
   margin:0 auto;
}
.content{
    max-width:600px;
    margin:0 auto;
    margin-top: 50px;
    box-shadow:3px 4px 5px rgba(1,1,1,0.15);
    background-color: white;
    border-radius: 10px;
    width:900px;
    padding:20px;

}
.formcontainer{
    margin-top:20px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}
.formtag{
    display:flex;
    flex-direction: column;
}
label{
    font-size:15px;
    margin-bottom:5px;
}
input,textarea,select{
   padding:6px 10px;
   font-size:15px;
   border:1px solid #ccc;
   border-radius:4px;
}
input:focus{
    outline-color:red;
}
.buttoncontainer{
  
    display:flex;
    justify-content:flex-end;
    margin-top:20px;
}
button{
    background-color:red;
    color:white;
    border:2px solid transparent;
    padding:5px 10px;
    border-radius:8px;
    transition:0.3s ease-in;
}
button:hover{
    background-color: white;
    color:black;
    border:2px solid red;
    transition: 0.3s ease-out;
    cursor:pointer;
}
.textareacontainer{
    display: grid;
    grid-column: 1 / span 2;
}
.textreacontainer textarea{
    width:100%;
}
@media (max-width:460px){
    .textareacontainer{
        grid-column: 1 / span 2;
    }
}
