*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}
:root{
    --purple500:#281154;
    --purple300:#270082;
    --purple600:#1b0058;
    --red600:#dc0000;
    --body:#f9f6ff;
}
header{
    background-color: var(--purple300);
    position:sticky;
    z-index:100;
    top:0;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.12);
}
.container{
    max-width:1200px;
    margin:0 auto; 
}
nav{
    padding:20px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
}
ul li {
    text-decoration: none;
    color:white;
    border:2px solid transparent;
}

ul li {
    list-style: none;

}
.lister{
    display: flex;
    flex-direction: row;
    gap:20px;
}
.logo{
    color:white;
}
.container h1{
    font-size: 32px;
}
nav ul li:hover{
    border-bottom:2px solid white;
}
.herosection{
    background-image:url("/images/hero_image.png");
    height:100vh;
    color:white;
    display:grid;
    place-items:center;
    text-align: center;
}
.herosection h1{
    font-size: 95px;
    font-weight: 600;
}
.herosection h3{
    font-size: 32px;
}
.herosection .container {
    display:flex;
    flex-direction:column;
    gap:20px;
}
h3{
    font-weight: bold;
}
.SECTION1{
    padding:15px;
    color:white;
    background-color: var(--purple500);
    
}
.SECTION1 .container{
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;
}

h1{
    font-weight: 500;
}
.primarybtn{
    padding:10px 15px;
    border:none; 
    transition:0.2s ease-in-out;

}
.primarybtn:hover{
    opacity:0.8;
    transition:0.2s ease-in-out;
}
.imagines{
    position:relative;
    top:400px;
    margin-top:-400px;
}
.primarybtn{
    background-color:var(--red600);
    color:white;
}
.secondary_btn{
    background-color:var(--purple300);
    border:none;
    color:white;
    padding:9px 12px;
}
.secondary_btn:hover{
    opacity:0.8;
    transition:0.2s ease-in-out;
}
.section2{
    margin-top:500px;
    display:grid;
    place-items:center;
    gap:50px;
    text-align: center;
    margin-bottom:50px;
}
.section2 h1{
    font-size:20px;
}
.section3,.herosection{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section3{
    background-image:url("/images/video.png");

    min-height:100vh;
   
    display:grid;
    place-items:center;
    text-align:center;

}
.section3 .container{
    display:flex;
    flex-direction: column;
    gap:40px;    
    margin-top:-200px;
    color:white;
}
.giftcard{
    display: flex;
    justify-content:center;
    gap:50px;
    margin:100px 0;
    
}
.gifttxt{
    display: flex;
    justify-content: center;
    flex-direction:column;
    gap:20px;
}
.gifttxt button{
    align-self: flex-start;
    transition:0.2s ease-in-out;
}
.footer .container{
    justify-content: space-between;
    display:flex;
    color:white;
}
.footer{
    padding:20px 0;
    background-color:var(--purple600);
}
.dec{
    border-bottom:3px solid white;
    margin:10px 0 ;
}
footer{
    background-color: #270082;
    color:white;
    display: flex;
    justify-content: center;
    padding:20px;
}
.SECTION1{
    scroll-margin:70px;
}
.section3{
    scroll-margin:70px;
}
.giftcard{
    scroll-margin:120px;
}